.panelSetting {
  height: 60px;
  width: 100%;
  background: var(--color-button);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  svg {
    position: relative;
    margin-left: 10px;
    background: inherit;
    fill: #fff;
    font-size: 30px;
    transition: 0.7s;
    cursor: pointer;
    &:hover {
      fill: var(--color-button-hover);
      transition: 0.7s;
    }
  }
  a {
    background: inherit;
  }
}
