[data-theme='ligth'] {
  --color-bg: rgb(249, 250, 252);
  --color-font: rgba(26, 26, 26, 0.79);
  --color-border-sign: rgb(126, 165, 250);
  --color-button: #289ddf;
  --color-button-text: rgb(255, 255, 255);
  --color-button-hover: rgb(57, 115, 240);
  --color-shadow-one: rgba(20, 20, 20, 0.6);
  --color-shadow-two: rgb(250, 124, 124);
  --color-link: #289ddf;
  --color-link-hover: #0a6296;
  --color-nav-bg: #f8f8f8;
  --color-nav-link: rgba(0, 0, 0, 0.79);
  --color-border-aside: #ddd;
  --color-nav-shadow: rgba(115, 113, 113, 0.25);
}
